
.main-wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}
.towel-ornament {
    height: 100%;
    width: 40%;
}
.towel-ornament img{
    height: 100vh;
    margin-left: auto;
    display: block;
}
.towel-btns {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.towel-btns a {
    position: relative;
}

.towel-btns a svg path {
    transition: all 0.6s ease-out;
}
.towel-btns a:hover svg path{
    fill: #D95E46;
    transition: all 0.6s ease-in;
}
.btn-txt {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    line-height: 130%;
    font-family: Almaz-Medium;
    text-transform: uppercase;
    text-align: center;
}






/* read towel */

.see-towel-main-wrp {
    width: 100%;
    position: relative;
    display: flex;
    background: #E9E8E7;
    background-image: url(static/texture.png);
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.towel-ornament-open,.towel-story {
    width: 50%;
}
.towel-ornament-open {
    position: relative;
    height: 100vh;
}
.towel-ornament-open .img {
    position: fixed;
    height: 100%;
    width: 50%;
    background-image: url(static/1-rush.jpg);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: center;
    background-size: cover;
}

.towel-story {
    padding: 10vh 5vw 40px;

}
.towel-story h1 {
    font-weight: 300;
    font-size: 50px;
    line-height: 126%;
    font-family: Almaz-Light;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.towel-story p {
    margin-bottom: 1rem;
    font-size: 20px;
    line-height: 140%;
    color: #2F2E2D;
}
.towel-story .likebtn-wrapper {
    margin:  100px auto 0;
    display: block;

}
.towel-story .likebtn-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%!important;
}
.towel-story .lb-a {
    padding-left: 10px;
}
.towel-story .lb-count {
    padding: 0 ;
}
.after-story-social {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.towel-story .to-read-ornament {
    position: relative;
    display: flex;
    flex-direction: column;
}
.towel-story .to-read-ornament svg path{
    transition: 0.5s;
}
.towel-story .to-read-ornament:hover svg path{
    fill: #D95E46;
    transition: 0.5s;
}
.towel-story .btn-txt {
    color: white;
    line-height: 100%;
}
.story-nav {
    display: flex;
    justify-content: space-between;
    margin: 55px 0 0;
    font-size: 15px;
    line-height: 100%;  
    text-transform: uppercase;
    font-family: Almaz-Medium;
}
.story-nav a {
    display: flex;
    align-items: center;
    gap: 16px;
}
.story-nav a svg {
    margin-top: -2px;
}
.prev-towel svg {
    transform: rotate(180deg);
}


/* read ornament */

.see-ornament-main-wrp {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.ornament-wrp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ornament-wrp img.ornament-image {
    width: 100%;
    height: 100%;
}
.tooltip{
    position: absolute;

}
.derevo-zhyttia {
    top: 30.5%;
    left: 50.7%;
    transform: translate(-50%, -50%);
}
.pulse{
    width: 64px;
    height: 64px;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 50%;
    animation: animate-pulse 3s linear infinite;
    cursor: pointer;
}
@keyframes animate-pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(217, 217, 217,0.7),  0 0 0 0 rgba(217, 217, 217,0.7);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(217, 217, 217,0.0),  0 0 0 0 rgba(217, 217, 217,0.7);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(217, 217, 217,0.0),  0 0 0 30px rgba(217, 217, 217,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(217, 217, 217,0.0),  0 0 0 30px rgba(217, 217, 217,0);
    }
    
}

.symbol {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
.symbol.open {
    display: block;
}
.filter-layer {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.symbol-txt-wrp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background: #F1F1F0;
}
.symbol-txt {
    padding: 32px;
    font-size: 18px;
    line-height: 130%;
    color: #272727;
}
.symbol-txt strong {
    margin-bottom: 10px;
    display: block;
}
.after-orn-wrp {
    background: #E9E7E4;
    background-image: url(static/bg-main.jpg);
    background-blend-mode: luminosity, normal;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.after-orn {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 670px;
    margin: 0 auto;
}
.after-orn .after-story-social {
    width: 100%;
}
.after-orn .to-read-ornament {
    color: white;
    position: relative;
}
.after-orn .to-read-ornament:hover svg path {
    fill: #D95E46;
    transition: 0.5s;}

.after-orn .story-nav {
    width: 100%;
}
.after-orn .likebtn-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%!important;
}